* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f4f4f4;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h1 {
    margin-bottom: 2px;
}

.title h3 {
    margin-bottom: 0;
}

.nodeInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.nodeLeft {
    display: flex;
    flex-direction: column;
}

.reset {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    font-size: 16px;
    cursor: pointer;
}

.nodeGraph {
    display: grid;
    grid-template-columns: repeat(12, 30px);
    grid-template-rows: repeat(12, 30px);
    gap: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 16px;
    box-sizing: border-box;
    position: relative; /* Needed for absolute positioning of lines */
    width: max-content;
    height: max-content;
}

.node {
    border-radius: 50%;
    background-color: lightgray;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: border 0.2s;
}

.node.selected {
    border: 2px solid #0074D9;
    box-sizing: border-box;
}