* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f4f4f4;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h1 {
    margin-bottom: 2px;
}

.title h3 {
    margin-bottom: 0;
}

.nodeInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.nodeLeft {
    display: flex;
    flex-direction: column;
}

.reset {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    font-size: 16px;
}

.resetButton {
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

.nodeGraph {
    display: grid;
    grid-template-columns: repeat(11, 30px);
    grid-template-rows: repeat(11, 30px);
    gap: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 16px;
    box-sizing: border-box;
    position: relative;
    width: max-content;
    height: max-content;
}

.node {
    border-radius: 50%;
    background-color: lightgray;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: border 0.2s;
}

.node.selected {
    border: 2px solid #0074D9;
    box-sizing: border-box;
}

.nodeRight {
    display: flex;
    flex-direction: column;
}

.edgeListContainer textarea {
    background-color: lightgray
}

.complianceInput {
    display: flex;
    flex-direction: column;
}

.complianceInput h3 {
    margin-bottom: 4px;
}

.complianceRow {
    display: flex;
    align-items: center;
    gap: 4px;
}

.complianceInput input[type="text"] {
    width: 80px;
    font-size: 1em;
    padding: 2px 4px;
    margin-left: 4px;
}

.predict {
    align-self: center;
    margin-top: 12px;
    font-size: 16px;
}

.predictButton {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

.results {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.results table {
    border: 3px solid #333;
    border-collapse: collapse;
    font-size: 1.35em;
    min-width: 240px;
    margin-top: 1em;
    background-color: #fff;
}

.results th, .results td {
    border: 3px solid #333;
    padding: 8px 8px;
    text-align: center;
}