<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chem 277B Final Project - Team 6</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="title">
        <h1>Predicting Material Properties via Graph Neural Networks</h1>
        <h3>Chem 277B Final Project - Team 6</h3>
    </div>

    <div class="nodeInput">
        <div class="nodeLeft">
            <h3>Input node group connections:</h3>
            <div class="nodeGraph"></div>
            <div class="reset">
                <button class="resetButton">Reset</button>
            </div>
        </div>

        <div class="nodeRight">
            <h3>Input node edge list:</h3>
            <textarea class="edgeList" rows="15" cols="30" readonly></textarea>
            <div class="rhoInput">
                <h3>Input ρ (relative density):</h3>
                <input type="number" class="rhoValue" step="0.15" min="0.15" max="0.3" value="0.15">
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>